@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,200);
*{margin:0;padding:0;}
a{
	text-decoration: none !important;
}
#left{
	background-color:rgb(35,35,35);
	width:180px;
	height:100%;
	height:100vh;
	float:left;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	display: inline-block;
	position: fixed;
}
#box{
	font-family: 'Roboto Condensed', sans-serif;
	background-color:black;
	height:160px;
	display:flex;
	flex:1;
	align-items: center;
	justify-content:center;
	color:white;
	flex-direction: column;
}
#box .top{
	font-size: 40px;
	display:flex;
	justify-content:flex-end;
	align-self:center;
}
#box .bottom{
	font-size:19px;
	margin-top:-5px;
	letter-spacing: 5px;
	margin-left:3px;
}
#profile{
	width:90px;
	margin:0 auto;
	margin-top:30px;
}
#name{
	color:rgb(209,209,209);
	text-align: center;
	margin-top:7px;
	font-size: 20px;
	letter-spacing: 2px;

}
img.selfie{
	width:90px;
	height:90px;
	border-radius: 90px;
}
ul#navy{
	margin-top:60px;
}
ul#navy a {
	text-decoration: none;
}
ul#navy a:hover li{
	background-color:rgb(74,144,266);
}
ul#navy a li{
	padding-left:36px;
	padding-top:14px;
	width:100%;
	height:55px;
	color: white;
	font-size: 18px;
	letter-spacing: 2.5px;
}
#foot{
	position: absolute;
	bottom: 0;
	width:180px;
	text-align: center;
	padding-bottom:9px;
}
#foot .info{
	font-size:15px;
	color:rgba(209,209,209,0.5);
}
.topper{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:34px;
	color:rgba(209,209,209,0.5);
}
#right{
	overflow:hidden;
	display: inline-block;
	width: calc(100% - 180px);
	float: left;
	padding-left:22px;
	margin-left:180px;
}
.upper{
	margin-top:22px;
}
img.burger{
	width:34px;
}
.upper .east{
	display: inline-block;
	float: right;
	margin-right:5%;
	margin-top: 3px;
}
.upper .east a {
	color: rgb(97,97,97);
	margin-left:30px;
}
#sect, #sect2{
	height:90px;
	border-top:2px solid rgba(195,195,195,0.8);
	border-bottom:2px solid rgba(195,195,195,0.8);
	background-color:rgb(235,235,235);
	margin-left:-22px;
	margin-top:25px;
	width:calc(100% + 44px);
}
#sect2{
	height:50px;
	margin-top:45px;
}
#sect h2{
	font-weight: 200;
	padding-left: 22px;
	line-height: 44px;
	font-size: 30px;
	color: rgb(65,65,65);
}
.blueText{
	color:rgb(127,166,232);
	font-weight: 200;
	font-size:22px;
	margin-top:20px;
}
#imageRow{
	height:250px;
	margin-top:15px;
}
#imageRow a {
	color:black;
}
.imageBox{
	background-image: url("/assets/camera.png");
	border: 3.5px solid rgb(221,221,221);
	height:250px;
	width:350px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-repeat: no-repeat;
	background-position: 49.5% 40%;
	padding-top:138px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;
	cursor: pointer;
	
}
.iamgeBox:hover{
}
.imageBox::after{
	content:" photo";
}
.hint{
	display: inline-block;
	width:140px;
	margin:30px;
}
.hint span{
	color:rgb(127,166,232);
}
#rightWrap{
	width:50%;
	display: inline-block;
	float: right;
}
.zomg input, .zomg textarea{
	color:black;
	font-size:16px;
	height:45px;
	border: 2px solid rgb(221,221,221);
	margin-top:25px;
	width:100%;
	padding:5px;
	padding-left:20px;
	resize: none;
}
.zomg textarea, .zomg input.price, .zomg input.time{
	height:120px;
	width:70%;
	float:right;
}
.zomg input.price{
	height: 45px;
}
textarea.secondtext{
	height:140px;
	margin-right:55px;
	margin-left:10px;
}
.westSide{
	width:45%;
	margin-right:5%;
	display: inline-block;
	float: left;
}
.eastSide{
	width:50%;
	float: left;
}
span.explainer{
	color:rgba(35,35,35,0.5);
	font-size:15px;
	float: right;
	margin-top:35px;
	margin-right:10px;
}
input.form-control{
	margin-top:0;
	width:70%;
	float:right;
}
input.picker{
	margin-top:0;
	width:70%;
	float:right;
}
.righter{
	float: right;
	width:70%;
	margin-top:25px;
}
.terms{
	color:rgba(35,35,35,0.5);
	text-align: center;
	width: 100%;
	float: left;
	margin-top:30px;
}
input.butt{
	background-color:black;
	border: none;
	color:white;
	border-radius:15px;
	width:180px;
	float: right;
	margin-right:45px;
	margin-bottom:70px;
	padding:0;
}
input.butt:hover{
	background-color:gray;
}
input[type="file"]{
	border:none;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
ol.bigger, .bigger{
	font-size:22px;
	margin-left:22px;
}
.imageSection{
	margin-top:20px;
	margin-left: -22px;
	height:400px;
	position: relative;
	vertical-align: middle;
	overflow: hidden;
}
.imageSection img{
	vertical-align: middle;
	margin-top:-9%;
	width: 100%;
	position: absolute;
}
.gradient{
	background-color:black;
	height: 50%;
	width: 100%;
	position: absolute;
	bottom:0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,000000+100&0+0,0.69+100 */
	background: -moz-linear-gradient(top,  rgba(229,229,229,0) 0%, rgba(0,0,0,0.69) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(0,0,0,0.69) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(229,229,229,0) 0%,rgba(0,0,0,0.69) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#b0000000',GradientType=0 ); /* IE6-9 */

	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	color:white;
	font-size:32px;
}
.gradient span{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.clip{
	margin-top:0 !important;
}